<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Results - Princeton Eats</title>
    <link rel="stylesheet" href="static/css/meals_list.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="logo">Princeton Eats</h1>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/find_meals">Find Meals</a>
        </div>
    </nav>

    <!-- <div class="container">
        <h2>Here are Your Options</h2>
        <div id="mealResults">
            <ul>
                {% for meal_name in meals %}
                    <li>{{ meal_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div> -->
    {% set currDH = "" %}
    <div class="container">
        <h2>Here are Your Options</h2>
        <ul>
        {% for mealNum in mealsDict %}
            {% if currDH != mealNum["dhall"] %}
                <h3>{{ mealNum["dhall"] }}</h3>
                {% set currDH = mealNum["dhall"] %}
                {% endif %}

            <li>{{ mealNum["name:"] }}</li>
            <h4>Ingredients are</h4>
                <ul>
                    {% for ingredient in mealNum["ingredients"] %}
                    <li> {{ ingredient }}</li>
                    {% endfor %}
                </ul>
            <h4>Allergens are</h4>
                <ul>
                    {% for allergen in mealNum["allergens"] %}
                    <li> {{ allergen }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>

        <!-- <div id="mealResults">
            <ul>
                {% for meal_name in meals %}
                    <li>{{ meal_name }}</li>
                {% endfor %}
            </ul>
        </div> -->
    </div>

    <!-- currDH = ""
    for meal in mealsDict:
        if currDH != mealsDict[meal]["dhall"]:
            # create new header and set currDH to mealsDict[meal]["dhall"]
        # print mealname  mealsDict[meal]["name"]
        # print ingredients mealsDict[meal]["ingredients"]
        # print allergens -->

    <div class="containerSmall">
        <h2>REMEMBER!</h2>
        <div id="mealResults">
            <p style="text-align: center;">Always follow up with campus dining staff to confirm ingredients!</p>
        </div>
    </div>

    <footer>
        <p>Made by <span class="names">Achilles, Adham, Akuei, Ndongo, and Yusuf</span></p>
    </footer>

</body>
</html>
