nav {
    background-color: #FFE6D0;
    color: #2A100C;
    padding-left: 20px;
    padding-right: 20px;
}

/* Main Container for find Meals */
.container {
    max-width: 700px;
    margin: 20px auto;
    background-color: #d0e9ff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



/* Buttons */
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.custom-button {
    background-color: #0c7c59;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 180px;
}

.footer {
    background-color: #FFE6D0;
    padding: 20px;
}
