/* Navbar */
.navbar {
    background-color: #e87722;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

/* Centered Page Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container form {
    float:left;
}
.container h4 {
    margin:0%
}
/* #mealForm {
    float: left;
}

#dinningHall {
    float: left;
}

#meal {
    float: left;
} */

/* Preferences Box */
.preferences-box {
    background-color: #f8c471;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    text-align: left;
}

/* Checkbox Group */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

/* Enter Button */
button {
    display: block;
    margin: 20px auto 0;
    padding: 12px 25px;
    background-color: #0c7c59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #095e41;
}
